<div class="hstack">
    <a href="https://www.instagram.com/idrisswill22" title="instagram" target="_blank" rel="noreferrer">
        <img src="/images/svg/social/instagram.svg" alt="ins" loading="lazy">
    </a>
    <a href="https://tiktoc.com/" title="tiktoc" target="_blank" rel="noreferrer">
        <img src="/images/svg/social/tiktok.svg" class="lighten-dark" alt="tiktoc" loading="lazy">
    </a>
    <a href="https://www.youtube.com/channel/UCdbxx0HEBVt4mY7Djr4Y4Xg?sub_confirmation=1" title="Youtube" target="_blank" rel="noreferrer">
        <img src="/images/svg/social/youtube.svg" alt="" loading="lazy">
    </a>
    <a href="https://twitter.com/IdrissTafo" title="Twitter" target="_blank" rel="noreferrer">
        <img src="/images/svg/social/twitter.svg" alt="" loading="lazy">
    </a>
</div>